<poke-search (emmitSearch)="getSearch($event)"></poke-search>

<section class="list">

    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
        <a [routerLink]="['details',pokemon.status.id]"class="pokemon" *ngIf="pokemon.status">
            <section class="pokemon__image">
                <img class="pokemon__image__image"
                [src]="pokemon.status.sprites.other.dream_world.front_default" 
                [alt]=""
                >
                
                <section class="pokemon__status">
                    <h2>
                        {{pokemon.name}}
                    </h2>
                    
                    <ul>
                        <li>
                            {{pokemon.status.id}}
                        </li>
                    </ul>
                </section>

            </section>
        </a>
    </ng-template>
</section>

