
:host{
    .poke-search{
        width:80%;
        display: flex row;
        justify-content: center;
    }
    .list{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 20px;
        .pokemon{
            position: relative;
            display: flex;
            align-items: center;
            justify-content:center;
            width: 30%;
            padding:20px ;
            height: 175px;
            margin-bottom:10px;
            background: var(--red);
            border-radius:20px;
            text-decoration: none;
            color: var(--primary-color);
            
            &__image{
                position:relative;
                height: 90px;
                width:90px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;


                &__image{
                    height: 100px;
                    width:100px
                }
            }
            &__status{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    font-size:25px;
                    font-style:normal;
                    font-weight: 800;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                    padding-top: 10px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                }
                    li{
                        background: var(--primary-color);
                        color: black;
                        font-size: 18px;
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        
                        border-radius: 10px;
                        width: 60px;
                        margin-bottom: 10px;

                    }
            }
        }
    }
@media only screen and (min-width:481px) and (max-width: 998px){

    .list{

        
        flex-direction: row;

        .pokemon{
            width: 40%;
            height: 200px;

            &__image{
                width: 70px;
                height: 70px;

                &__image{
                    width:100px;
                    height:100px;
                }
            }

            &__status{
                h2{
                    font-size:20px
                }

                ul{
                    li{
                        font-size: 15px;
                    }
                }
            }
        
            
        }
    }

}
@media only screen and (min-width:320px) and (max-width: 480px){
    .list{
        .pokemon{
            width: 70%;      
        }
    }
}
}