<section class="team">

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/bulbasour.png">
        </section>

        <section class="team__status">
            <h2>
                Bulbasur
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/charizard.png">
        </section>

        <section class="team__status">
            <h2>
                Charizard
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                23/75
            </h2>
        </section>
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/pikachu.png">
        </section>

        <section class="team__status">
            <h2>
                Pikachu
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                22/73
            </h2>
        </section>
        
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/venusaur.png">
        </section>

        <section class="team__status">
            <h2>
                Venusaur
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
        
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/wartortle.png">
        </section>

        <section class="team__status">
            <h2>
                Wartortle
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
        
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/jiggliford.png">
        </section>

        <section class="team__status">
            <h2>
                jiggliford
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
        
    </div>

    <a [routerLink]="['']" class="btn btn__secondary">
        volver
    </a>
  





</section>