<section class="team">

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/balbasour.png">
        </section>

        <section class="team__status">
            <h2>
                Bulbasur
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/balbasour.png">
        </section>

        <section class="team__status">
            <h2>
                Bulbasur
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
    </div>

    <div class="team__container">

        <section class="team__image">
            <img src="../../../assets/balbasour.png">
        </section>

        <section class="team__status">
            <h2>
                Bulbasur
            </h2>
            <progress max="100" value="0" class="progress"> 70% </progress>
            <h2>
                25/75
            </h2>
        </section>
        
    </div>
  





</section>