:host {
  .team {
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__container{
      display: flex;;
      background-color: var(--red);
      justify-content: space-evenly;
      border-radius: 15px;
      flex-direction: row;
      margin-bottom: 50px;
      margin-top: 50px;
      padding-top:15px;
      width: 60%;
    }

    &__status {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      padding-left: 50px;
      padding:50px
    }
    img {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }

    h2 {
      display: flex;
      align-items: row;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
      
      //   margin-bottom: 10px;
      //   padding-top: 10px;
    }

    .progress {
      appearance: none;
      -webkit-appearance: none;
      margin-bottom: 20px;
    }

    ::-webkit-progress-bar {
      background-color: #ffcb05;
      border-radius: 10px;
      width: 250px;
      height: 20px;
    }

    a {
      background-color: var(--red);
      border-radius: 30px;
      text-decoration: none;
      width: 350px;
      height: 30px;
      margin-top: 20px;
      margin-bottom: 30px;
      display: flex;
      align-items:center;
      align-content: center;
      justify-content: center;
      margin-left: 100px;
      font-size: 20px;
      font-weight: 800;
      color:black;
      
  }
  }

@media only screen and (min-width:620px) and (max-width: 998px){
  .team{
    &__container{
      width: 60%;
      margin-bottom:20px;
      height: 180px;
      margin-left: 60px;
    }
  }
}
@media only screen and (min-width:320px) and (max-width: 619px){
  .team{
    &__container{
      display: flex;
      flex-direction:column;
      align-content: center;
      align-items: center;
    }
  }
}
}
