
:host {
    form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:15px 20px;
        background-color: #FA8072;
        border-radius: 30px;

        input{
            width: 95%;
            background-color: #FA8072 ;
            border: none;
            font-size:18px ;
            
            &::placeholder{
                color: var(--negro)
            }
        }
    }
}