
:host{
    header{
      padding: 10px 0;
      background-color: var(--red);

      .menu{
        margin-top: 12px;
        ul{
            padding: 0;
            margin:0;

            a{
                list-style-type: none;
                color: white;
                display:inline-block;
                font-size: 20px;
                margin-left: 24px;

                &:hover{
                    color:#222;
                    cursor:pointer;
                    transition: 0.4s ease-in-out;
                }
            }
        }
      }
    }
@media only screen and (max-width: 999px) {
    .menu{
        position: fixed;
        right: 0px;
        top:64px;
        background: var(--red);
        width: 200px;
        height: 30%;

        ul{
            padding: 0;
            margin:0;

            a{
                display:block;
            text-align: right;
            margin: 0;
            
            border-bottom: 1px solid #fff;
            }
        }
      }
    
    .menu_icon{
        display: inline-block;
        position: relative;
        right: 0;
        top:0px
        

        span{
            width: 40px;
            height: 2px;
            background: #fff;
            
        }


        
    }        
    }

    



 
}

